#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        Eisuu {
            bindings = <&kp F10>;
            key-positions = <25 36>;
        };

        MiddleClick {
            bindings = <&mkp MCLK>;
            key-positions = <34 35>;
        };

        KeyNumCheck {
            bindings = <&none>;
            key-positions = <35 34 33>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Default {
            bindings = <
&none  &none             &none         &none         &none      &none                                                   &none        &none  &none      &none      &none           &none
&none  &kp Q             &kp W         &kp E         &kp R      &kp T                                                   &kp Y        &kp U  &kp I      &kp O      &kp P           &none
&none  &mt LCTRL A       &kp S         &kp D         &kp F      &kp G      &none                      &none             &kp H        &kp J  &kp K      &kp L      &lt 2 MINUS     &none
&none  &mt LEFT_SHIFT Z  &kp X         &kp C         &kp V      &kp B      &lt 5 LANGUAGE_1           &lt 5 LANGUAGE_2  &kp N        &kp M  &mkp LCLK  &mkp RCLK  &msc MOVE_Y(0)  &none
&none  &lt 3 ESCAPE      &kp LEFT_ALT  &kp LEFT_GUI  &kp SPACE  &lt 3 TAB  &mt LEFT_SHIFT LANGUAGE_2  &kp BACKSPACE     &lt 4 ENTER  &none  &none      &kp RGUI   &kp LANGUAGE_2  &none
            >;
        };

        Mouse {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &mkp LCLK  &mkp MCLK  &mkp RCLK  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans     &trans     &trans  &trans
            >;
        };

        Arrow {
            bindings = <
&trans  &trans  &trans                    &trans                    &trans                    &trans                             &trans       &trans              &trans          &trans         &trans  &trans
&trans  &trans  &trans                    &kp LA(LG(P))             &trans                    &trans                             &trans       &trans              &kp UP_ARROW    &trans         &trans  &trans
&trans  &trans  &kp LS(LA(LG(NUMBER_1)))  &kp LS(LA(LG(NUMBER_2)))  &kp LS(LA(LG(NUMBER_3)))  &kp LS(LA(LG(F)))  &trans  &trans  &trans       &kp LEFT_ARROW      &kp DOWN_ARROW  &kp RIGHT      &trans  &trans
&trans  &trans  &trans                    &trans                    &trans                    &trans             &trans  &trans  &kp LS(F12)  &kp LG(LEFT_ARROW)  &trans          &kp RG(RIGHT)  &trans  &trans
&trans  &trans  &trans                    &trans                    &trans                    &trans             &trans  &trans  &trans       &trans              &trans          &trans         &trans  &trans
            >;
        };

        NumFunc {
            bindings = <
&trans  &trans            &trans            &trans            &trans            &trans                        &trans        &trans     &trans        &trans      &trans     &trans
&trans  &kp F1            &kp F2            &kp F3            &kp F4            &kp F5                        &kp F6        &kp F7     &kp F8        &kp F9      &kp F10    &trans
&trans  &kp NUMBER_1      &kp NUMBER_2      &kp NUMBER_3      &kp NUMBER_4      &kp N5      &trans   &trans   &kp NUMBER_6  &kp N7     &kp NUMBER_8  &kp N9      &kp N0     &trans
&trans  &kp LG(NUMBER_1)  &kp LG(NUMBER_2)  &kp LG(NUMBER_3)  &kp LG(NUMBER_4)  &kp LG(N5)  &kp F11  &kp F12  &kp PLUS      &kp MINUS  &kp COMMA     &kp PERIOD  &kp SLASH  &trans
&trans  &trans            &trans            &trans            &trans            &trans      &trans   &trans   &trans        &trans     &trans        &trans      &trans     &trans
            >;
        };

        Symbol {
            bindings = <
&trans  &trans            &trans            &trans            &trans            &trans                      &trans                &trans            &trans             &trans         &trans      &trans
&trans  &kp LS(NUMBER_1)  &kp LS(NUMBER_2)  &kp LS(NUMBER_3)  &kp LS(NUMBER_4)  &kp LS(N5)                  &kp LS(NUMBER_6)      &kp LS(N7)        &kp LS(N8)         &kp LS(N9)     &kp LS(N0)  &trans
&trans  &trans            &trans            &trans            &trans            &trans      &trans  &trans  &kp GRAVE             &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp SEMICOLON  &kp EQUAL   &trans
&trans  &trans            &trans            &trans            &trans            &trans      &trans  &trans  &kp NON_US_BACKSLASH  &kp SQT           &kp COMMA          &kp PERIOD     &kp SLASH   &trans
&trans  &trans            &trans            &trans            &trans            &trans      &trans  &trans  &trans                &trans            &trans             &trans         &trans      &trans
            >;
        };

        Setting {
            bindings = <
&trans  &trans        &trans        &trans        &trans        &trans                        &trans                 &trans                 &trans                 &trans                 &trans                 &trans
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                  &kp LS(LA(LC(LG(Y))))  &kp LS(LA(LC(LG(U))))  &kp LS(LA(LC(LG(I))))  &kp LS(LA(LC(LG(O))))  &kp LS(LA(LC(LG(P))))  &trans
&trans  &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans                 &trans                 &trans                 &trans                 &trans                 &trans
&trans  &bt BT_CLR    &trans        &trans        &trans        &trans        &trans  &trans  &trans                 &trans                 &trans                 &trans                 &trans                 &trans
&trans  &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans                 &trans                 &trans                 &trans                 &trans                 &trans
            >;
        };
    };
};
