#include "torabo_tsuki_lp.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

&pointing_listener {
    input-processors = <
        &zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)
        &zip_temp_layer 1 10000                                                  //追記: AMLのレイヤーとタイムアウトする時間 動作確認済
    >;

    scroller {                                            //追記: スクロールレイヤー 動作確認済
        layers = <2>;                                     //
        input-processors = <                              //
            &zip_xy_to_scroll_mapper                      //
            &zip_scroll_scaler 1 15                       //スクロール速度 1/15
        >;                                                //
    };                                                    //追記: ここまで
};

&size_s_transform {
    col-offset = <7>;
};

&size_m_transform {
    col-offset = <7>;
};

&size_l_transform {
    col-offset = <7>;
};

&zip_temp_layer {                //追記: AML抜け除外 動作確認済
    excluded-positions = <       //
        33 // J                  //
        34 // K                  //
        35 // L                  //
    >;                           //
};                               //追記: ここまで
